.vs/
.vscode/
**/.vs/
**/.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
**/bin/
**/obj/
**/Debug/
**/Release/
**/x64/
**/x86/
**/*.nupkg
**/packages/
**/project.lock.json
**/project.assets.json
**/*.dgspec.json
**/*.g.props
**/*.g.targets
**/*.cache
**/*.genruntimeconfig.cache
**/obj/**/*.editorconfig
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.vercel
frontend/coverage/
frontend/build/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/.pnpm-debug.log*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env*

