.vs/
.vscode/
**/.vs/
**/.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
**/bin/
**/obj/
**/Debug/
**/Release/
**/x64/
**/x86/
**/*.nupkg
**/packages/
**/project.lock.json
**/project.assets.json
**/*.dgspec.json
**/*.g.props
**/*.g.targets
**/*.cache
**/*.genruntimeconfig.cache
**/obj/**/*.editorconfig
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.vercel
frontend/coverage/
frontend/build/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/.pnpm-debug.log*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env*

# Add any directories, files, or patterns you don't want to be tracked by version control
*.dtbcache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code

# Rider
.idea

# User-specific files

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 201*

#React Git ignore

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/PortalOAuth/SAML/packages/*

/PortalOAuth/SAML/SAML_OAuth_Client/Logs/*

# Ignore all launchSettings.json files (used for local development settings in .NET)
**/launchSettings.json
obj
/backend/ComplianceSecurityAuditor/.vs
